* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}

h1 {
    letter-spacing: 3px;
}

.dashboard {
    background-color: #535c68;
    max-width: 400px;
}

.dashboard h4 {
    font-size: 2em;
    letter-spacing: 2px;
    font-family: 'Roboto Serif', serif;
}

.dashboard p {
    font-size: 2.2em;
}